@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #6a5dfe;
}

button {
    background-color: #6a5dfe;
    border: none;
    color: white;
    padding: 9px 25px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

button:hover {
    background-color: #6a5dfe;
    box-shadow: 0 9px 25px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
    opacity: 1;
}


h3, h4, h6, p {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #6a5dfe;
    background-color: transparent;
    text-decoration: none;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: #f8b45c;
    background-color: transparent;
    text-decoration: none;
}
h5 {
    font-family: "Montserrat", sans-serif;
    color: #f8b45c;
    background-color: transparent;
    text-decoration: none;
}

/* Footer */
.footer {
    background: transparent;
    padding: 30px 10%;
    text-align: center;
    border-radius: 30px;
}
.flex-container {
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.flex-container > div {
    background-color: transparent;
    margin: 10px;
    padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column-reverse;
    }
}
.a1 > a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.a1 > a {
    background:
        linear-gradient(
          to right,
          rgb(82, 66, 224),
          rgba(82, 66, 224, 1)
        ),
        linear-gradient(
          to right,
          rgba(255, 0, 0, 1),
          rgba(255, 0, 180, 1),
          rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.a1 > a:hover {
  background-size: 0 3px, 100% 3px;
}

/* Presentational Styles */
.a1 > body {
    display: grid;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 100vh;
    place-items: center;
}

* {
    box-sizing: border-box;
  }
  
    body {
      margin: 0;
      font-family: Arial;
    }

    .header {
      text-align: center;
      padding: 32px;
    }

    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 700px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #594ed5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #453ca0; 
}